*.json @kenshyx @SeverS
*.cjs @kenshyx @didd
*.yml @kenshyx @didd
*.toml @kenshyx @didd
*.md @josenriagu @SeverS 
*.config.js @kenshyx @didd
*.conf.js @kenshyx @didd
*.stories.tsx @josenriagu @didd
*.spec.ts @kenshyx @didd
*.spec.tsx  @didd

.github/ @kenshyx @didd
.circleci/ @kenshyx @didd

/extensions/apps/antenna/ @SeverS @quininez @didd 
/extensions/apps/auth-app/ @didd @josenriagu 
/extensions/apps/extensions/ @SeverS @quininez @didd
/extensions/apps/legal/ @quininez @josenriagu
/extensions/apps/notifications/ @quininez 
/extensions/apps/profile/ @didd  @quininez
/extensions/apps/routing/ @SeverS @didd
/extensions/apps/search/ @quininez 
/extensions/apps/settings/  @josenriagu
/extensions/apps/vibes/  @josenriagu
/extensions/apps/vibes-console/  @josenriagu

/extensions/widgets/analytics/ @SeverS @josenriagu
/extensions/widgets/layout/ @SeverS @josenriagu @quininez
/extensions/widgets/mini-profile/ @quininez @josenriagu
/extensions/widgets/my-apps/ @quininez 
/extensions/widgets/sidebar/ @josenriagu  @didd
/extensions/widgets/top-bar/  @josenriagu
/extensions/widgets/trending/  @josenriagu @didd

/libs/app-loader/ @SeverS @kenshyx
/libs/composedb/ @kenshyx @josenriagu @SeverS
/libs/design-system-components/ @josenriagu @didd  @quininez
/libs/design-system-core/ @josenriagu @didd  @quininez
/libs/extensions/ @SeverS @quininez @didd
/libs/feed/ @SeverS  @didd
/libs/hooks/ @kenshyx @quininez @didd @SeverS
/libs/sdk/ @kenshyx @josenriagu @SeverS
/libs/typings/ @kenshyx @SeverS @quininez

/tests/ @didd @kenshyx
/tools/ @kenshyx @SeverS

/worlds/ @kenshyx @SeverS
