*
!index.html
!index.dev.html
!importmap.dev.json
!.gitignore
!template-index.html
!manifest.json
!importmap.json
!icons
!icons/*.png
!icons/world
!icons/world/*.png
!fonts
!fonts/*
!_redirects
!robots.txt
!css
!img
!scripts
!scripts/*
!img/*

