version: 2.1

parameters:
  affected-projects:
    type: string
    default: ''
  num-affected-projects:
    type: integer
    default: 1

executors:
  shared-executor:
    docker:
      - image: cimg/node:20.9.0
    working_directory: ~/akasha-core

jobs:
  build:
    executor: shared-executor
    parallelism: <<pipeline.parameters.num-affected-projects>>
    steps:
      - when:
          condition: <<pipeline.parameters.affected-projects>>
          steps:
            - checkout
            - restore_cache:
                keys:
                  - dependency-cache-v2-{{ .Branch }}-{{ checksum "yarn.lock" }}
            - run:
                name: Install nx
                command: sudo npm install -g nx@14.6.5
            - run:
                name: Ensure all packages are available
                command:  yarn --frozen-lockfile --cache-folder ~/.cache/yarn && yarn build:executors
            - run:
                name: Test affected projects
                command: |
                  #TODO: exclude messaging, af-testing, hup-api, and app loader apps till their tsc and failing tests are fixed
                  AFFECTED_PROJECTS=$(echo "<<pipeline.parameters.affected-projects>>" | sed 's/, /\n/g' | circleci tests split)
                  nx run-many --target=tsc --projects=$AFFECTED_PROJECTS
                  nx run-many --target=test --projects=$AFFECTED_PROJECTS --passWithNoTests --runInBand
      - unless:
          condition: <<pipeline.parameters.affected-projects>>
          steps:
            - run:
                name: No affected projects to test
                command: echo "No affected projects to test"

workflows:
  build:
    jobs:
      - build
