:root {
  --foundation-primary: #ff89b6, #4e71ff;
  --foundation-secondary: #7222d2;
  --foundation-secondary-dark: #ba9ae0;
  --gradient-primary-start: #ff89b6;
  --gradient-primary-stop: #4e71ff;
  --system-black: #1a1b1f;
  --system-white: #f4f4f4;
  --system-grey-1: #2d2f33;
  --system-grey-2: #222428;
  --system-grey-3: #313235;
  --system-grey-4: #666768;
  --system-grey-5: #4e4e4e;
  --system-grey-6: #b6bfd1;
  --system-grey-7: #989898;
  --system-grey-8: #eaeaea;
  --system-grey-9: #f4f4f4;
  --feedback-success: #63b86b;
  --feeback-warning: #f1b210;
  --feedback-warning-dark: #ffdf8c;
  --feedback-error: #ee6135;
  --feedback-error-dark: #ff9271;
  --elevation: #313235;
}
