/* #splash-screen-root {
  color: #808080;
}

html.Dark-Theme {
  background-color: #0D1A2D;
}

#splash-screen-root>img {
  max-height: 21rem;
}

body.Dark-Theme>#splash-screen-root {
  background-color: #0D1A2D;
  color: #fff;
}

*/:root {
  --color-background-default: 255 255 255;
  --color-background-dark: 13 26 45;
}

.global-styles__inherit-height {
  height: inherit;
}

.global-styles__inherit-width {
  width: inherit;
}
