name: deploy production ethereum.world api

on:
  release:
    types: [published]
    paths:
      - '.github/workflows/**'
      - 'api/**'
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: executing remote ssh deployment
        uses: appleboy/ssh-action@v0.1.4
        env:
          RELEASE_TAG: ${{ github.ref }}
        with:
          HOST: ${{ secrets.HOST }}
          USERNAME: ${{ secrets.USERNAME }}
          KEY: ${{ secrets.SSHKEY }}
          envs: RELEASE_TAG
          script: |
            cd apps/ewa-api-prod
            git fetch --all --prune
            git checkout $RELEASE_TAG
            cd api/hub
            docker-compose -p ewa-api-production -f docker-compose.production.yml down
            docker-compose -p ewa-api-production -f docker-compose.production.yml build --no-cache
            docker-compose -p ewa-api-production -f docker-compose.production.yml up -d
